.form-control {
    width: 100%;
}

.text-space {
    left: 10%;
}

.list-group {
    opacity: 0;
    height: 0;
    overflow-y: scroll;
    position: absolute;
}

.show .list-group {
    width: 67%;
    opacity: 1;
    height: 250px;
    overflow-y: auto;
    z-index: 1;
}

.list-group li {
    padding: 5px 10px;
    cursor: pointer;
}

.list-group li:hover {
    background: lightgray;
}