<input type="text" class="form-control" ng-model="search"
       placeholder="Select" ng-disabled="downloadingMessage != ''"/>
<div class="search-object-list">
    <div ng-if="objectsList.length > 0">
        <ul class="list-group">
            <li ng-repeat="object in objectsList | myObjectFilter:search | orderBy:'formalname'"
                class="list-group-item" ng-click="chooseObject(object)">
                {{ object.shortname }} {{object.formalname}}
            </li>
        </ul>
    </div>
    <div ng-if="objectsList.length == 0 && (steadsList.length > 0 || housesList.length > 0)">
        <ul class="list-group">
            <li ng-repeat="house in housesList | myHouseFilter:search | orderBy:'housenum'"
                class="list-group-item" ng-click="chooseHouse(house)">
                {{house.type}} {{house.name}}
            </li>
            <li ng-repeat="stead in steadsList | mySteadFilter:search | orderBy:'number'"
                class="list-group-item" ng-click="chooseStead(stead)">
                участок {{stead.number}}
            </li>
        </ul>
    </div>
    <div ng-if="objectsList.length == 0 && housesList.length == 0 &&
                steadsList.length == 0 && roomsList.length > 0">
        <ul class="list-group">
            <li ng-repeat="room in roomsList | myRoomFilter:search | orderBy:'flatnumber'"
                class="list-group-item" ng-click="chooseRoom(room)">
                {{room.type}} {{room.flatnumber}}
            </li>
        </ul>
    </div>
</div>