<!DOCTYPE html>
<html lang="en" ng-app="user" ng-controller="userController">
<head>
    <meta charset="UTF-8">
    <title>ФИАС</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/resources/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/user.js"></script>
</head>
<body>

<div>
    <nav-bar></nav-bar>
</div>

<div class="container">
    <br>
    <div>
        <name-search></name-search>
    </div>
    <div class="row">
        <div class="col-5" ng-init="initLists(); getObjectsByParentGuid()">
            <label>Расширенный поиск: {{downloadingMessage}}{{downloadMessage}}</label>
            <div ng-repeat="flag in showDropdownList">
                <dropdown-list></dropdown-list>
                <br>
            </div>
            <div class="form-check-inline">
                <button class="btn" type="submit" ng-click="getLastObjectInformation()"
                        ng-disabled="downloadingMessage != ''">
                    Данные об объекте
                </button>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="actual1" ng-model="$root.actualAdvancedSearch">
                    <label class="form-check-label" for="actual1">Только актуальные</label>
                </div>
            </div>
        </div>
        <div class="col-7">
            <hr class="style">
            <div class="row">
                <div class="col-8">
                    <label>Поиск по параметрам: {{searchingMessage}}{{searchMessage}}</label>
                    <input type="text" class="form-control" ng-model="guidSearch" ng-disabled="searchingMessage != ''"
                           placeholder="GUID"/>
                    <br>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" ng-model="postcodeSearch"
                                   ng-disabled="searchingMessage != ''" placeholder="Почтовый индекс"/>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" ng-model="flSearch"
                                   ng-disabled="searchingMessage != ''" placeholder="ИФНС ФЛ"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" ng-model="cadnumSearch"
                                   ng-disabled="searchingMessage != ''" placeholder="Кадастровый номер"/>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" ng-model="ulSearch"
                                   ng-disabled="searchingMessage != ''" placeholder="ИФНС ЮЛ"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" ng-model="okatoSearch"
                                   ng-disabled="searchingMessage != ''" placeholder="OKATO"/>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" ng-model="oktmoSearch"
                                   ng-disabled="searchingMessage != ''" placeholder="OKTMO"/>
                        </div>
                    </div>
                    <br>
                    <div class="form-check-inline">
                        <button class="btn" type="submit" ng-click="searchObjects()"
                                ng-disabled="searchingMessage != ''">Поиск
                        </button>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="actual2"
                                   ng-init="actualSearch=true" ng-model="actualSearch">
                            <label class="form-check-label" for="actual2">Только актуальные </label>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label>Искать среди:</label>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="object"
                                   ng-init="objectCheck=true" ng-model="objectCheck">
                            <label class="form-check-label" for="object">Адресообразующие элементы</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="house"
                                   ng-init="houseCheck=true" ng-model="houseCheck">
                            <label class="form-check-label" for="house">Дома</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="stead"
                                   ng-init="steadCheck=true" ng-model="steadCheck">
                            <label class="form-check-label" for="stead">Земельные участки</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="room"
                                   ng-init="roomCheck=true" ng-model="roomCheck">
                            <label class="form-check-label" for="room">Помещения</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <table ng-show="resultObjects.length > 0" class="table">
            <thead>
            <tr class="row m-0">
                <th class="d-inline-block col-2 text-center"
                    ng-click="orderByField='fullAddress'; reverseSort = !reverseSort">Полный адрес
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField=getGuid; reverseSort = !reverseSort">GUID
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField=getStatus; reverseSort = !reverseSort">Статус
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField='postalcode'; reverseSort = !reverseSort">Почтовый индекс
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField='okato'; reverseSort = !reverseSort">ОКАТО
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField='oktmo'; reverseSort = !reverseSort">ОКТМО
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField='ifnsfl'; reverseSort = !reverseSort">ИФНС ФЛ
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField='ifnsul'; reverseSort = !reverseSort">ИФНС ЮЛ
                </th>
                <th class="d-inline-block col-2 text-center"
                    ng-click="orderByField='cadnum'; reverseSort = !reverseSort">Кадастровый номер
                </th>
                <th class="d-inline-block col-1 text-center"
                    ng-click="orderByField='houseStateStatus'; reverseSort = !reverseSort">Состояние дома
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row m-0" ng-repeat="object in pagedObjects|orderBy:orderByField:reverseSort">
                <td class="d-inline-block col-sm-2 text-center h6 small">{{object.fullAddress}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{getGuid(object)}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{getStatus(object)}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{object.postalcode}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{object.okato}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{object.oktmo}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{object.ifnsfl}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{object.ifnsul}}</td>
                <td class="d-inline-block col-sm-2 text-center h6 small">{{object.cadnum}}</td>
                <td class="d-inline-block col-sm-1 text-center h6 small">{{object.houseStateStatus}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div ng-show="resultObjects.length > pageSize">
            <button class="btn" ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)">Предыдущая</button>
            <button class="btn" ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)">Следующая</button>
            Страница {{currentPage + 1}} из {{totalPages()}}.
            Всего найдено {{resultObjects.length}}
            <div><br><br></div>
        </div>
    </div>
</div>
</body>
</html>