<input type="text" ng-model="search" placeholder="Select"/>
<div class="search-object-list">
    <div ng-if="objectsNextList.length > 0">
        <ul class="list">
            <li ng-repeat="object in objectsNextList | filter:search" ng-click="chooseObject(object)">
                {{object.formalname}} {{ object.shortname }}
            </li>
        </ul>
    </div>
    <div ng-if="objectsNextList.length == 0 && steadsList.length > 0">
        <ul class="list">
            <li ng-repeat="stead in steadsList | filter:search" ng-click="chooseStead(stead)">
                участок № {{stead.number}}
            </li>
        </ul>
    </div>
</div>